@charset "UTF-8";
 *{
  box-sizing: border-box;
 }
 body
 {
   background-image: url(./admin.jpg);
   background-size:cover;
   font-family:arial;
   color:#ffff00;
   font-size:16px;
   marging:0;
 }
 input,select,button
 {
   font-family:arial;
   color:#000080;
   font-size:14px;
 }
 img
 {
   max-width:90%;
   height:70%;
 }
 .wrapper
 {
 height:100%;
 width:100%;
 background-size:cover;
 background-repeat:no-repeat;
 }
 .inner
 {
  padding:20px;
  
  width:1200px;
  height:600px;
  margin:auto;
  display:flex;
 }
 .inner .image-holder
 {
    width:60%;
    padding-top:80px;
    padding-left:45px;
    padding-right:45px;
    
 }
 .inner h3
 {
  text-transform:uppercase;
  color:red;
  font-size:25px;
  text-align:center;
  margin-bottom:28px;
  
 }
 .form-group
 {
   display:flex;
   
 }
 .form-group input
 {
   width:50%;
 }
 
 .form-wrapper
 {
 position:relative;
 }
 .form-control
 {
 
 border:none;
 border-bottom:1px solid #0000a0;
 width:400px;
 height:30px;
 padding-right:0;
 margin-bottom:25px;
 }

 button
 {
 
 width;140px;
 height:40px;
 margin:auto;
 marging-top:0px;
 cursor:pointer;
 display:flex;
 align-items:center;
 justify-content:center;
 padding-left:0;
 background:#ff0000;
 font-size:15px;
 color:#ff8000;
 }
  
 